.container {
  min-height: calc(100vh - 72px);
  padding: 260px 64px;
  background: linear-gradient(0deg, #0003, #0003),
    url(/images/bg-404.jpg) no-repeat;
  text-align: start;
  color: rgb(var(--var-inputs));
  background-size: cover;
}

.title {
  font-size: 78px;
}
